<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block title %}Leave application{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load dm2bn_tags %}

    {# Load the tag library #}
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    {% bootstrap_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD HH:mm:ss'
        });
    });



    </script>
    <script type="text/javascript">
    var messagesCumulativeDelay = true,
        messageDelay = 3,
        messageDelayFactor = 8,
        messageIcon = "fa fa-exclamation-circle",
        messageDefaultSettings = {
                "allow_dismiss": true,
                "placement": {
                    "from": "top",
                    "align": "right"
                    },
                "delay": 3,
                "mouse_over": "pause",
                animate: {
		            enter: 'animated fadeInDown',
		            exit: 'animated fadeOutUp'
	                },
                };

    </script>
    <script type="text/javascript">
    $(function () {
        // show messages
        $.showMessages({{ messages|messages2json }});
    });


    </script>
    {{ form_name.media }}
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/bootstrap-notify.js' %}"></script>
    <script src="{% static 'js/bootstrap-notify-simple-wrapper.min.js' %}"></script>
    <script src="{% static 'js/striptags.js' %}"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Leave app</a>
    <div class="collapse navbar-collapse" id="navbarColor02">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'leave' %}">Leave overview</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'team' %}">Team</a></li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">
                    {% if user.is_authenticated %}
                    Logout
                    {% else %}
                    Login
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>


</nav>
</div>

</nav>


{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% clear_breadcrumbs %}
{% breadcrumb "Home" "/hours" %}

{% endblock %}

<div id="main">
    <div class="container">
        {% render_breadcrumbs %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="boxes">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>