{% extends "base_generic.html" %}

{% load mathfilters %}

{% block content %}
<h2>Welcome, {{ user.first_name }} </h2>
<hr class="styleline">
<div class="buttons_top">
    <a class="btn btn-primary" href="{% url 'add_leave' %}">Add new leave</a>
</div>
<div class="alert alert-warning">
  <strong>Info!</strong> Your leave balance is <strong>{{ user.profile.balance|div:8 }}</strong> days
</div>
<br/>
<h3>Overview</h3>
<hr class="styleline">

<div class="container">
    <div class="row">
            <!-- Nav tabs -->
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#personal" aria-controls="home" role="tab"
                                                              data-toggle="tab">Personal ({{ leaves_pending_count }})</a></li>
                    {%if perms.hoursregister.handle_leave %}
                    <li role="presentation"><a href="#team" aria-controls="profile" role="tab"
                                               data-toggle="tab">Team ({{ leaves_pending_team_count }})</a></li>
                    {% endif %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="personal">
                        {% if leaves_pending|length > 0 %}
                        <h5>Pending</h5>
                        <table class="table table-condensed" style="border-collapse:collapse;">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Hours</th>
                                <th>Moderator</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for leave in leaves_pending %}
                            <tr data-toggle="collapse" data-target="#{{ leave.id }}" class="accordion-toggle">
                                <td>{{ leave.type }}</td>
                                <td>{{ leave.start_date }}</td>
                                <td>{{ leave.end_date }}</td>
                                <td>{{ leave.total_hours }}</td>
                                <td>{{ manager_of_team }}</td>
                                <td>
                                    <a class="nav-link inline" href="{% url 'update_leave' leave.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="nav-link inline " href="{% url 'delete_leave' leave.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="hiddenRow">
                                    <div class="accordian-body collapse" id="{{ leave.id }}">
                                        <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-gray rounded box-shadow">
                                            <div class="lh-100">
                                                <h6 class="mb-0 text-white lh-100"><span class="glyphicon glyphicon-bullhorn"></span> Note left by {{ leave.user.first_name }} </h6>
                                            </div>
                                        </div>
                                        </br>

                                        <div class="expanded_table_row">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    {{ leave.note }}
                                                </div>
                                            </div>
                                            <br/>

                                            {%if request.user_id is not leave.user.user_id %}
                                            {%if perms.hoursregister.handle_leave %}
                                            <a class="btn btn-success"
                                               href="{% url 'accept_leave' leave.id %}">Accept</a>
                                            <a class="btn btn-danger"
                                               href="{% url 'reject_leave' leave.id %}">Reject</a>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        {% if leaves_accepted|length > 0 %}
                        <h5><a href="#recently-accepted" data-toggle="collapse">Recently accepted</a></h5>
                        <div id="recently-accepted" class="collapse">
                       <table class="table table-condensed" style="border-collapse:collapse;">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Hours</th>
                                <th>Risk level</th>
                                <th>Accepted by</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for leave in leaves_accepted_recent %}
                            <tr data-target="#{{ leave.id }}" class="accordion-toggle">
                                <td>{{ leave.type }}</td>
                                <td>{{ leave.start_date }}</td>
                                <td>{{ leave.end_date }}</td>
                                <td>{{ leave.total_hours }}</td>
                                <td>Moderate</td>
                                <td>{{ leave.handled_by.first_name }} {{ leave.handled_by.last_name }}</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="hiddenRow">
                                    <div class="accordian-body collapse" id="{{ leave.id }}">
                                        <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-gray rounded box-shadow">
                                            <div class="lh-100">
                                                <h6 class="mb-0 text-white lh-100"><span class="glyphicon glyphicon-bullhorn"></span> Note left by {{ leave.user.first_name }} </h6>
                                            </div>
                                        </div>
                                        </br>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}

</div>
                  {% if leaves_rejected|length > 0 %}
                        <h5><a href="#recently-rejected" data-toggle="collapse">Recently rejected</a></h5>
                        <div id="recently-rejected" class="collapse">
                        <table class="table table-condensed" style="border-collapse:collapse;">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Hours</th>
                                <th>Risk level</th>
                                <th>Rejected by</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for leave in leaves_rejected_recent %}
                            <tr data-target="#{{ leave.id }}" class="accordion-toggle">
                                <td>{{ leave.type }}</td>
                                <td>{{ leave.start_date }}</td>
                                <td>{{ leave.end_date }}</td>
                                <td>{{ leave.total_hours }}</td>
                                <td>Moderate</td>
                                <td>{{ leave.handled_by.first_name }} {{ leave.handled_by.last_name }}</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="hiddenRow">
                                    <div class="accordian-body collapse" id="{{ leave.id }}">
                                        <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-gray rounded box-shadow">
                                            <div class="lh-100">
                                                <h6 class="mb-0 text-white lh-100"><span class="glyphicon glyphicon-bullhorn"></span> Note left by {{ leave.user.first_name }} </h6>
                                            </div>
                                        </div>
                                        </br>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="team">
                        {% if perms.hoursregister.handle_leave %}
                        {% if leaves_pending_team|length > 0 %}
                        <h5>Pending by team</h5>
                        <table class="table table-condensed" style="border-collapse:collapse;">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Hours</th>
                                <th>Risk level</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for leave in leaves_pending_team %}
                            <tr data-toggle="collapse" data-target="#{{ leave.id }}" class="accordion-toggle">
                                <td>{{ leave.user.first_name }}</td>
                                <td>{{ leave.type }}</td>
                                <td>{{ leave.start_date }}</td>
                                <td>{{ leave.end_date }}</td>
                                <td>{{ leave.total_hours }}</td>
                                <td>Moderate</td>
                                <td>
                                    <a class="nav-link inline" href="{% url 'accept_leave' leave.pk %}"><span class="glyphicon glyphicon-ok"></span> Accept</a>
                                    <a class="nav-link inline " href="{% url 'reject_leave' leave.pk %}"><span class="glyphicon glyphicon-remove"></span> Reject</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="12" class="hiddenRow">
                                    <div class="accordian-body collapse" id="{{ leave.id }}">
                                        <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-gray rounded box-shadow">
                                            <div class="lh-100">
                                                <h6 class="mb-0 text-white lh-100"><span class="glyphicon glyphicon-bullhorn"></span> Note left by {{ leave.user.first_name }} </h6>
                                            </div>
                                        </div>
                                        </br>
                                        <div class="expanded_table_row">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    {{ leave.note }}
                                                </div>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>


    {% endblock %}