{% extends "base_generic.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Delete leave" "add_leave" %}
{% endblock %}

{% block content %}

<h3>Delete leave</h3>
<hr class="styleline">

<p>Are you sure you want to delete the leave: {{ leave }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input class="btn btn-primary" type="submit" action="" value="Yes, delete" />
</form>

{% endblock %}