{% extends "base_generic.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Overview" "leave" %}
{% endblock %}

{% block content %}

<h3>Overview</h3>
<hr class="styleline">

<div class="container">
    <div class="row">

            <!-- Nav tabs -->
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#personal" aria-controls="home" role="tab"
                                                              data-toggle="tab">Personal</a></li>
                    {%if perms.hoursregister.handle_leave %}
                    <li role="presentation"><a href="#team" aria-controls="profile" role="tab"
                                               data-toggle="tab">Team</a></li>
                    {% endif %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="personal">
                        {% if leaves_accepted|length > 0 %}
                        <h5>Accepted</h5>
                        <table class="table table-condensed" style="border-collapse:collapse;">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Hours</th>
                                <th>Risk level</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for leave in leaves_accepted %}
                            <tr data-toggle="collapse" data-target="#{{ leave.id }}" class="accordion-toggle">
                                <td>{{ leave.type }}</td>
                                <td>{{ leave.start_date }}</td>
                                <td>{{ leave.end_date }}</td>
                                <td>{{ leave.total_hours }}</td>
                                <td>Moderate</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="hiddenRow">
                                    <div class="accordian-body collapse" id="{{ leave.id }}">
                                        <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-gray rounded box-shadow">
                                            <div class="lh-100">
                                                <h6 class="mb-0 text-white lh-100"><span class="glyphicon glyphicon-bullhorn"></span> Note left by {{ leave.user.first_name }} </h6>
                                            </div>
                                        </div>
                                        </br>

                                        <div class="expanded_table_row">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    {{ leave.note }}
                                                </div>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}

                        {% if leaves_rejected|length > 0 %}
                        <h5>Rejected</h5>
                        <table class="table table-condensed" style="border-collapse:collapse;">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Hours</th>
                                <th>Risk level</th>
                                <th>Rejected by</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for leave in leaves_rejected %}
                            <tr data-toggle="collapse" data-target="#{{ leave.id }}" class="accordion-toggle">
                                <td>{{ leave.type }}</td>
                                <td>{{ leave.start_date }}</td>
                                <td>{{ leave.end_date }}</td>
                                <td>{{ leave.total_hours }}</td>
                                <td>Moderate</td>
                                <td>{{ leave.handled_by.first_name }} {{ leave.handled_by.last_name }}</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="hiddenRow">
                                    <div class="accordian-body collapse" id="{{ leave.id }}">
                                        <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-gray rounded box-shadow">
                                            <div class="lh-100">
                                                <h6 class="mb-0 text-white lh-100"><span class="glyphicon glyphicon-bullhorn"></span> Note left by {{ leave.user.first_name }} </h6>
                                            </div>
                                        </div>
                                        </br>
                                                                                <div class="expanded_table_row">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    {{ leave.note }}
                                                </div>
                                            </div>
                                            <br/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>


                    <div role="tabpanel" class="tab-pane" id="team">
                        {% if perms.hoursregister.handle_leave %}
                        {% if leaves_pending_team|length > 0 %}
                        <h5>Pending by team</h5>
                        <table class="table table-condensed" style="border-collapse:collapse;">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Hours</th>
                                <th>Risk level</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for leave in leaves_pending_team %}
                            <tr data-toggle="collapse" data-target="#{{ leave.id }}" class="accordion-toggle">
                                <td>{{ leave.user.first_name }}</td>
                                <td>{{ leave.type }}</td>
                                <td>{{ leave.start_date }}</td>
                                <td>{{ leave.end_date }}</td>
                                <td>{{ leave.total_hours }}</td>
                                <td>Moderate</td>
                                <td>
                                    <a class="nav-link inline" href="{% url 'accept_leave' leave.pk %}"><span class="glyphicon glyphicon-ok"></span> Accept</a>
                                    <a class="nav-link inline " href="{% url 'reject_leave' leave.pk %}"><span class="glyphicon glyphicon-remove"></span> Reject</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="12" class="hiddenRow">
                                    <div class="accordian-body collapse" id="{{ leave.id }}">
                                        <div class="d-flex align-items-center p-2 my-3 text-white-50 bg-gray rounded box-shadow">
                                            <div class="lh-100">
                                                <h6 class="mb-0 text-white lh-100"><span class="glyphicon glyphicon-bullhorn"></span> Note left by {{ leave.user.first_name }} </h6>
                                            </div>
                                        </div>
                                        </br>
                                        <div class="expanded_table_row">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    {{ leave.note }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>


    {% endblock %}

