{% extends "base_generic.html" %}

{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Manage leave" "add_leave" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 ">
        <h3>Request leave</h3>
        <hr class="styleline">
        <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group">
                <button type="submit" onclick="this.disabled=true,this.form.submit();" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-md-2 padding_switch">
        <input type="checkbox" checked data-toggle="toggle" data-size="small" toggle-off>
    </div>
</div>
{% endblock %}