{% extends "base_generic.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Team" "team" %}
{% endblock %}

{% block content %}

<h3>Teams</h3>

<div class="bs-example" data-example-id="condensed-table">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Total members</th>
            <th>Total leave</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.user_set }}</td>
                <td>{{ team.user_set.saldo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}