html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
      font-size: 17px;
      font-family: 'Open Sans', sans-serif !important;
}
* {
  border-radius: 0 !important;
}
@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

#main {
    padding-top: 0px;
}

.boxes {
    padding: 10px;
}

.padding_switch {
    padding-top: 100px;
}

.date_field {
    width: 100px;
    }

.hiddenRow {
    padding: 0 !important;
}

.expanded_table_row {
    padding-left: 10px;
    margin-bottom: -20px;
    margin-top: -30px;
}

a.inline {
    display: inline-block;
}

span.input-group-addon:last-child {
    width: 40px !important;
}

.breadcrumb {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
background: -moz-linear-gradient(top, rgba(255,255,255,0) 2%, rgba(254,254,254,0) 15%, rgba(244,244,244,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 2%,rgba(254,254,254,0) 15%,rgba(244,244,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 2%,rgba(254,254,254,0) 15%,rgba(244,244,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
    }

.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{ padding:20px; }

.card {background: #FFF none repeat scroll 0% 0%; margin-bottom: 30px; width:100%; border: none;}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }
.bg-gray { background-color: var(--gray); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

/****** Statistic ******/
.statistic {
  margin: 1em 0;
  text-transform: uppercase;
  display: inline-block;

  .value {
    font-size: 4em;
    line-height: 1em;
    text-align: center;

    &.text {
      font-size: 2em;
      font-weight: bold;
    }
  }

  .label {
    color: inherit;
    display: block;
    font-size: 1em;
    text-align: center;
  }
}

.statistic + .statistic {
  margin-left: 1.5em;
}

/*** Horizontal Statistic ***/
.statistic.horizontal {
  .value,
  .label {
    display: inline;
    vertical-align: middle;
  }
}

/****** Statistic Group ******/
.statistic-group {
  margin: 1em 0;

  .statistic {
    display: inline-block;
  }
}

/*** Horizontal Statistic Group ***/
.statistic-group.horizontal {
  .statistic {
    display: block;

    .value,
    .label {
      display: inline;
      vertical-align: middle;
    }
  }
  .statistic + .statistic {
    margin-left: 0;
  }
}

/*** Float Statistics ***/
.statistic {
  &.pull-left {
    margin-right: 1em;
  }
  &.pull-right {
    margin-left: 1em;
  }
}

/****** Statistic Sizes ******/
.statistic {
  &.mini .value {
    font-size: 1em;
    font-weight: bold;
  }
  &.tiny .value {
    font-size: 2em;
  }
  &.small .value {
    font-size: 3em !important;
  }
  &.large .value {
    font-size: 5em;
  }
  &.huge .value {
    font-size: 6em;
  }
}

/****** Statistic Types ******/
.statistic {
  &.primary {
    color: @brand-primary;
  }

  &.success {
    color: @brand-success;
  }

  &.info {
    color: @brand-info;
  }
  &.warning {
    color: @brand-warning;
  }

  &.danger {
    color: @brand-danger;
  }

  &.inverted {
    color: white;
  }

}

hr.styleline {
	border-top: 1px double #eee;
	text-align: center;
}

.buttons_top{
    padding-bottom: 18px;
}